$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;
$poppins-font: "Poppins", sans-serif;

$blue: #264065;
$green: #a9d6cb;
$grey: #b5b2ad;
$grey-light: #faf8f5;
$white: #fefefd;