@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
    max-width: 1350px;
    // display: grid;
    // height: 80vh;
    // grid-template-columns: 2fr 1fr;
    // grid-template-rows: 1fr;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    position: relative;


    &__1 {
        background-color: $grey-light;
        padding: 0 15%;

    }

    &__2 {
        background-color: $green;

        .lotus {
            position: absolute;
            bottom: 180px;
            right: 170px;
            width: 23%;
            z-index: 1;
            opacity: 0.06;
        }


    }
}