@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

nav.nav-primary {
    display: flex;
    gap: 50px;

    ul {
        @include reset-list();
        gap: 30px;

        li {


            a {
                text-decoration: none;
                color: $blue;
                font-weight: 400;
                font-size: 16px;
                // line-height: 24px;

                &:hover {
                    color: #ff7eb9;
                }
            }
        }
    }


}

nav .header__login {

    margin-top: 20px;
    display: flex;
    gap: 50px;
    align-items: right;
    justify-content: center;

    ul {
        @include reset-list();
        gap: 30px;

        li {


            a {

                color: $blue;
                font-weight: 300;
                font-size: 14px;

                &:hover {
                    color: #ff7eb9;
                }
            }
        }
    }

    .btn-primary {
        margin-right: 20px;
        @include button();

        &:hover {
            background-color: $green;
            color: white;
        }
    }
}